@font-face {
    font-family: 'Comic';
    src: url('./../fonts/ComicSansMS.woff2') format('woff2'),
        url('./../fonts/ComicSansMS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

