@import './fonts.scss';


$background: rgba(17,109,17,.6);
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic';
    background-color: $background;
    &.game-play {
        background-color: rgb(221, 117, 20);
    }
}

button {
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.header {
    position: sticky;
    top: 0;
    box-shadow: -1px 3px 20px #e6500a;
    box-sizing: border-box;
    z-index: 10;
    background-color: rgb(230, 80, 10);
    .container {
        display: flex;
        justify-content: space-around;
        max-width: 1050px;
        margin: 0 auto;
        padding: 20px 0;
    }
    .game_name {
        color: #fff;
        font-family: 'Comic';
        font-size: 20px;
        text-shadow: 1px 1px 3px #000;
    }
}

.menu-btn {
    height: 30px;
    width: 40px;
    position: relative;
    background-color: transparent;
    z-index: 7;
    &_burger {
        background-color: #000;
        height: 2px;
        width: 100%;
        transition: all .2s;
        &:after, &:before {
            position: absolute;
            content: '';
            background-color: #000;
            height: 2px;
            width: 100%;
            left: 0;
            transition: all .2s;
        }
        &:after {
            bottom: 0;
        }
        &:before {
            top: 0;
        }
    }
    &--opened {
        .menu-btn_burger {
            background-color: transparent;
            &:after {
                top: 50%;
                transform: rotate(45deg);
            }
            &:before {
                top:50%;
                transform: rotate(-45deg);
            }
        }
    }
}

.app {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 30px 15px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 40px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'RnM';
}

.overlay {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: transparent;
    left: -100%;
    transition: background-color .3s ease-in-out;

    &.opened {
        background-color: rgba(0, 0, 0, .5);
        left: 0;
    }

}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 250px;
    background: linear-gradient(to left, rgb(161, 28, 28), rgb(6, 2, 223));
    top: 0;
    left: -250px;
    transition: left .3s ease-in-out;
    z-index: 6;

    &.opened {
        left: 0;
        .menu_item {
            visibility: visible;
            &--active {
                color: #f3f3f3;
                background-color: rgba(194, 53, 53, 0.664);
            }
        }
    
    }

    


    &_item {
        font-family: 'Comic', Arial;
        text-transform: uppercase;
        padding: 10px;
        width: 80%;
        margin: 0 auto;
        transition: all .2s ease-in-out;
        visibility: hidden;
        border: 8px solid #6b59b1;
        border-radius: 25px;

        &:hover {
            background-color: darken(#fff,30%);
        }

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    min-height: 350px;
    cursor: pointer;
    text-align: center;
    transition: box-shadow .3s ease-in-out, transform .5s ease-in-out; 
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(7, 11, 207), rgb(22, 57, 255));
    box-sizing: border-box;
    position: relative;

    &--rotated {
        transform: rotateY(180deg);
        .card_translation {
            transform: translateX(-50%) rotateY(180deg);
            visibility: visible;
        }
        .card_description {
            visibility: hidden;
        }
        .card_btn {
            visibility: hidden;
        }
    }

    &_picture {
        width:  calc(100% - 20px);
        height: 210px;
        margin: 0 auto;
        border-radius: 5px;
        pointer-events: none;
        user-select: none;
    }

    &:hover {
        box-shadow: 0 0 15px 0 rgb(7, 11, 207);
    }

    &_description, &_translation {
        transition: all 0s ease .25s;
        pointer-events: none;
        font-size: 25px;
        color: #f3f3f3;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100% - 110px);
        width: calc(100% - 20px);
    }

    &_translation {
        visibility: hidden;
    }
    
    &_btn {
        position: absolute;
        width: 40px;
        height: 40px;
        background: url('./../img/icons/rotating-circular-arrow.svg') center no-repeat;
        background-size: 70%;
        bottom: 20px;
        border-radius: 50%;
        background-color: #fff;
        transition: visibility 0s ease .25s;
    }
}

.no-scroll {
    overflow-y: hidden;
}

.game{ 
    &_ctrl-area {
        display: inline-flex;
        position: relative;
        align-items: center;
        background-color: rgba(91, 100, 148, 0.822);
        width: 60px;
        height: 32px;
        transition: background .3s;
        border-radius: 25px;
        text-align: left;
        z-index: 5;
        cursor: pointer;
        margin-left: 5px;
        &--play {
            text-align: right;
            background-color: rgba(218, 18, 18, 0.795);
            .game_btn {
                left: calc(100% - 25px);
            }
        }
    }
    &_btn {
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: #fff;
        transition: left .3s ease-in-out;
        left: 0;
        border-radius: 50%;
    }
    &_text {
        display: flex;
        color: #f3f3f3;
        align-items: center;
        font-size: 21px;       
    font-family: 'Comic';
    text-shadow: 1px 1px 1px #000;
    }
    &_repeat-btn {
        font-family: "Comic";
        width: 117px;
        text-align: left;
        padding-left: 5px;
        height: 40px;
        border-radius: 25px;
        position: fixed;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        z-index: 5;
        transition: background-color .3s;
        text-shadow: 1px 1px 1px #fff;
        &--game {
            background: rgba(255,255,255,.7) url('./../img/icons/refresh.svg') 95% center no-repeat;
            background-size: 20%;
            display: block;
        }
        &.show {
            display: block;
        }
        &:hover {
            background-color: darken(#fff, 20%);
        }
    }
}

.correct-answer{
    pointer-events: none;
    opacity: 0.5;
}

.hidden {
    display: none;
}

.start-btn {
    display: block;
    text-align: center;
}

.congrat {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(./../img/Congrat.jpg) center center no-repeat;
    background-size: cover;
    z-index: 6;
    &_text {
        color: #0500ff;
        font-size: 40px;
        font-weight: 700;
        text-shadow: 1px 1px 1px #fff;
        text-align: center;
        margin-bottom: 20px;
    }
    &_btn {
        @extend .menu_item;
        visibility: visible;
        width: auto;
    }
}

.statistic-block {
    color: #eeff00;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.smile-area {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: auto;
}

.footer {
    
    background-color: #e6500a;
    box-shadow: 1px 3px 20px #e6500a;
    padding: 10px;
    z-index: 10;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    .container {
        max-width: 1050px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
    &_link {
        font-size: 20px;
        font-family: 'Comic';
        text-decoration: none;
        text-shadow: 1px 1px 3px #000;
        color: #fff;
    }
    &_year {
        font-size: 20px;
        color: #fff;
        text-shadow: 1px 1px 3px #000   ;
    }
    &_logo {
        background: url(./../img/icons/logo.svg) center center no-repeat;
        display: inline-block;
        width: 100px;
        height: 20px;
    }
}

@media screen and (max-width: 600px)  {
    .app {
        grid-template-columns: repeat(1, 250px);
    }
    .congrat {
        &_text {
            font-size: 20px;
        } 
    }
    .statistic-block {
        object {
            height: 24px;
            width: 24px;
        }
    }
    .header {
       .container {
            justify-content: space-around;
       }
    }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
    .app {
        grid-template-columns: repeat(2, 250px);
        grid-gap: 20px 5%;
        
    }
    .congrat {
        &_text {
            font-size: 20px;
        }
    }

}
@media screen and (min-width: 961px) and (max-width: 1280px) {
    .app {
        grid-template-columns: repeat(3, 250px);
        grid-gap: 30px 5%;
    }
    .congrat {
        &_text {
            font-size: 20px;
        }
    }

}


